.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.home, .projects, .contact {
    display: grid;
    column-gap: 20px;
}
.home {
    position: relative;
    margin-top: 100px;
}
.container {
    display: flex;
}
.profile {
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}
.row {
    margin-bottom: 20px;
}
.contact-icons .fab {
    color: #fff;
}
.nav {
    justify-content: space-between;
}
.contact-icons {
    padding-right: 15px;
}
.contact-icon {
    padding: 0 10px;
}
.contact-info {
    height: 40px;
}
.social-info {
    height: 40px;
}
.social-icons {
    font-size: 20px;
}
.bio {
    flex-grow: 3;
    margin-top: 20px;
}
.contact-info span {
    padding-left: 5px;
    padding-right: 20px;
}
.contact-info span {
    color: #333;
}
.social-info a {
    padding-right: 20px;
    font-size: 35px;
    line-height: 35px;
}
.contact-info a, .social-info a {
    text-decoration: none;
    color: #333;
}
@media only screen and (max-width: 991px) {
    .home {
        margin-top: 120px;
    }
}
@media only screen and (max-width: 768px) {
    .home .row {
        flex-direction: column;
    }
}